@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 1000px;
  background-image: url("../images/bk-4.gif");
  background-size: cover;          /* Makes image fully cover screen */
  background-position: center;     /* Keeps it centered */
  background-repeat: no-repeat;    /* Prevents repeating */
  background-attachment: fixed;    /* Optional: smooth full-screen feel */
}
.paper {
  background-image: url("../images/back-2.gif");
  background-size: 500px;
  background-position: center center;
  padding: 20px 70px;
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
  position: absolute;
  background-size: cover;          /* Makes image fully cover screen */
background-position: center;     /* Keeps it centered */
background-repeat: no-repeat;    /* Prevents repeating */
background-attachment: fixed;
}
.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}
.paper.image {
  padding: 10px;
}
.paper.image p {
  font-size: 30px;
}
img {
  max-height: 200px;
  width: 100%;
  user-select: none;
}
.paper.heart::after {
  content: "";
  background-image: url('../images/1.jpeg');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}
.paper.red {
/*   filter: hue-rotate(90deg); */
}
.paper:nth-of-type(3n) {
  background-position: left top;
}
.paper:nth-of-type(3n) {
/*   filter: hue-rotate(200deg); */
}
p {
  font-family: 'Zeyada';
  font-size: 35px;
  color: white;
  opacity: 3.75;
  user-select: none;
  
}